@import "tailwindcss";

@theme {
  --breakpoint-xss: 460;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../public/fonts/Lexend-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

* {
  font-family: "Lexend", sans-serif;
}

body {
  background: #eee;
}

.hero {
  background-image: url(../public/assets/hero.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 100vh;
}
